<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <title>Carrito de compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header id="header">
      <h1>OPGLO CAR</h1>
      <img class="carrito" src="carrito-de-compras.png" alt="carrito" />
    </header>
    <div id="contenedor" class="contenedor">
      <div>
        <img src="imagenPatek1.webp" alt="producto 1" />
        <div class="informacion">
          <p>Patek Philippe</p>
          <span class="precio-item">$15.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenRolex2.webp" alt="producto 2" />
        <div class="informacion">
          <p>Rolex</p>
          <span class="precio-item">$35.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenTag3.webp" alt="producto 3" />
        <div class="informacion">
          <p>Tag heuer</p>
          <span class="precio-item">$75.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenTag4.webp" alt="producto 4" />
        <div class="informacion">
          <p>Tag heuer</p>
          <span class="precio-item">$85.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenMido5.webp" alt="producto 5" />
        <div class="informacion">
          <p>Mido</p>
          <span class="precio-item">$50.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenFossil6.webp" alt="producto 6" />
        <div class="informacion">
          <p>fossil</p>
          <span class="precio-item">$18.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenGuessDama7.webp" alt="producto 7" />
        <div class="informacion">
          <p>Product 7</p>
          <span class="precio-item">$7.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenInvicta8.webp" alt="producto 8" />
        <div class="informacion">
          <p>Invicta</p>
          <span class="precio-item">$23.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
      <div>
        <img src="imagenBreitling9.webp" alt="producto 9" />
        <div class="informacion">
          <p>Breitling</p>
          <span class="precio-item">$120.000</span>
          <button class="boton-item">Comprar</button>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
