<%- include('../partials/head')%> 
<body>

    <%- include('../partials/navbar')%> 
			<main>
        <div id="contenedor" class="contenedor">
        <div>
          <img src="/images/products/imagenPatek1.png" alt="producto 1" class="img1"/>
          <div class="informacion">
            <p>Patek Philippe</p>
            <span class="precio-item">$15.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenRolex2.png" alt="producto 2" class="img1"/>
          <div class="informacion">
            <p>Rolex</p>
            <span class="precio-item">$35.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenTag3.png" alt="producto 3" class="img1"/>
          <div class="informacion">
            <p>Tag heuer</p>
            <span class="precio-item">$75.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenTag4.png" alt="producto 4"class="img1" />
          <div class="informacion">
            <p>Tag heuer</p>
            <span class="precio-item">$85.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenMido5.png" alt="producto 5" class="img1"/>
          <div class="informacion">
            <p>Mido</p>
            <span class="precio-item">$50.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenFossil6.png" alt="producto 6" class="img1"/>
          <div class="informacion">
            <p>fossil</p>
            <span class="precio-item">$18.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenGuessDama7.png" alt="producto 7" class="img1"/>
          <div class="informacion">
            <p>Product 7</p>
            <span class="precio-item">$7.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenInvicta8.png" alt="producto 8" class="img1"/>
          <div class="informacion">
            <p>Invicta</p>
            <span class="precio-item">$23.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
        <div>
          <img src="/images/products/imagenBreitling9.png" alt="producto 9" class="img1"/>
          <div class="informacion">
            <p>Breitling</p>
            <span class="precio-item">$120.000</span>
            <button class="boton-item">Comprar</button>
          </div>
        </div>
      </div>
			</main>
			<%- include('../partials/footer'); %>
      <script src="/js/products/carritoDeCompras.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
		</body>

		</html>