<footer>

    <div class="ft container">

        <div class="enlace">
            <h3>Buscar en tienda</h3>
            <li> <a href="#">Relojes Masculinos</a></li>
            <li> <a href="#">Relojes Femeninos</a></li>
            <li> <a href="#">Todas las Colecciones</a></li>
            <li> <a href="#">Ofertas</a></li>
        </div>
        <div class="enlace">
            <h3>Contactenos</h3>
            <li> <a href="#">3224967052</a></li>
            <li> <a href="#">Email:info@opglo.com.co</a></li>
            <li> <a href="#">Servicion de Atención al cliente</a></li>
        </div>
        <div class="enlace">
            <h3>Nosotros</h3>
            <li> <a href="#">Términos y Condiciones</a></li>
            <li> <a href="#">Servicio Técnico</a></li>
            <li> <a href="#">Avisos de privacidad</a></li>
        </div>
        <div class="enlace">
            <h3>Email</h3>
            <form>
                <input type="text" class="btn-2">
                <input type="submit" class="btn-3">

            </form>

        </div>

    </div>


</footer>