<%- include('partials/head')%> 
<body>

    <%- include('partials/header')%> 

    <section class="banner">
        <img src="/images/banner3.png" alt="" class="imagen">
    </section>  

    <main>
        <h3>Colecciones</h3>
        <section class="collection">
            <div class="products">
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">500.000</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A35 </h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj2.jpg" alt="Reloj mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$550.000</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A36</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj3.jpg" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$700.500</p>
                        <p class="discount">10% Off</p>
                        <h4 class="description">Reloj Mido modelo A39</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$830.200</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A40</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$830.200</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A40</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$830.200</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A40</h4>
                    </div>
                </article>
            </div>
        </section>
        
    </main>

    <!--oferta-->

    <section class="bg-sec">
        <div class="bg-txt container">
            <h2>SEGUIMIENTO INTELIGENTE DEL RENDIMIENTO</h2>
            <p>
                Diseñada pensando en sus objetivos, la exclusiva aplicación OPGLO cuenta con funciones que le
                ayudarán a superar cualquier desafío. Totalmente optimizada.
            </p>
        </div>
    </section>
    <section class="offert">
        <h3>Ofertas</h3>
        <section class="collection">
            <div class="products">
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$830.200</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A40</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$830.200</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A40</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/reloj4.webp" alt="Reloj Mido">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$830.200</p>
                        <p class="discount">5% Off</p>
                        <h4 class="description">Reloj Mido modelo A40</h4>
                    </div>
                </article>
    </section>

    <!--Footer-->
   
    <%- include('partials/footer')%> 
  
</body>
</html>