<header>
    <div class="menu container">
        <a href="/" class="logo">OPGLO</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <div class="burger-menu">
                <img class="menu-icono" src="/images/menu-btn.png" alt="menu">
            </div>
        </label>
        <nav class="navbar">
            <ul>
                <li> <a href="#">Hombres</a></li>
                <li> <a href="#">Mujeres</a></li>
                <li> <a href="#">Sale</a></li>
            </ul>
            <ul>
                <li> <a href="#">Ingresar</a></li>
                <li> <a href="#">Registrarse</a></li>
                <li> <a href="#">Tus compras</a></li>
                <li> <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>