:root{
    --azul: #c7ceea;
    --verde: #02ac66;
    --verdeclaro: #e2f0cb;
    --rosado:#ff689d;
    --naranja:#e36b2c;
    --morado: #957dad;
    --celeste:#23bac4;
    --blanco:#ffffff;
    --rojo:#f61706;
    --negro:#000000;



}